.navbar-custom{
    background-color: #068bb0;
}

.btn-custom{
    background-color: #068bb0!important;
    border-color: #067392!important;
    color: white;
}

body {
    background-color: #d1d1d1!important;
}